@use '../base/mixins'


$mdPlus: 'screen and (min-width: 960px)'

#quiz-section
  @include mixins.organisedGrid
  grid-row-gap: 10px


  #question-category
    text-align: center

  #question
    @include mixins.QuestionAndAnswers
    font-size: 20px
    font-weight: bold

  #answers-container
    @include mixins.organisedGrid
    grid-row-gap: 25px
    margin-top: 20px
    width: 100%

  .possible-answers
    @include mixins.QuestionAndAnswers
    border: none
    cursor: pointer
    font-size: 20px
    animation: enlargeFrame 1s ease-in-out 0s 1 normal forwards


@media #{$mdPlus}
  #quiz-section
    @include mixins.organisedGrid
    grid-row-gap: 10px

    #answers-container
      grid-template-columns: repeat(2, 1fr)
      width: 95%


@keyframes enlargeFrame
  0%
    transform: scale(0)
  100%
    transform: scale(1)
