// general variables
$backgroundColor: antiquewhite
$mainColor: #8a2be2
$gameStatusFonts: 16px Arial, Helvetica, sans-serif

// button variables
$buttonActive: lightseagreen
$buttonHover: lightsalmon
$buttonDisabled: gray

// spinner variables
$spinnerSize: 50px

// media queries variables
$extraSmallAndSmall: 'screen and (min-width: 0px) and (max-width: 600px)'