{
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }
    ],
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/prop-types": "error",
    // jsx related
    "react/react-in-jsx-scope": "warn",
    "react/jsx-no-undef": "warn",
    "react/jsx-key": "warn",
    "react/jsx-fragments": [
      "warn",
      "syntax"
    ],
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-tag-spacing": "off",
    // react-hooks related
    "react-hooks/exhaustive-deps": "warn"
  }
}