// google fonts (mainly for title)
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap')

// general variables
$backgroundColor: antiquewhite
$mainColor: #8a2be2
$gameStatusFonts: 16px Arial, Helvetica, sans-serif

// button variables
$buttonActive: lightseagreen
$buttonHover: lightsalmon
$buttonDisabled: gray

// spinner variables
$spinnerSize: 50px

// media queries variables
$extraSmallAndSmall: "screen and (min-width: 0px) and (max-width: 600px)"


// selector for inputs
%dataHandler
  text-indent: 20px
  display: block
  font: $gameStatusFonts
  font-weight: 700
  color: $mainColor
  line-height: 1.3
  padding: 0
  width: 275px
  max-width: 100%
  height: 43px
  border: 1px solid $mainColor
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04)
  border-radius: .5em
  outline: none

// selector for the grid to be shared among the game-select and quiz-section classes
%organisedGrid
  display: grid
  grid-template-columns: 1fr
  justify-items: center
  grid-row-gap: 10px
  user-select: none


// selector for for the question and answers styling
%QuestionAndAnswers
  padding: 10px
  background-color: white
  text-align: center
  border: 1px solid $mainColor
  border-radius: .5em
  width: 90%
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)


// selector for the default styling for buttons
%btnStyle
  font: $gameStatusFonts
  font-weight: bold
  color: $mainColor
  background-color: yellowgreen
  border: none
  border-radius: .5em
  text-align: center
  text-decoration: none
  cursor: pointer
  width: 275px
  height: 45px
  outline: none
  user-select: none
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)

body
  background: url("https://i.ibb.co/cD1c7BV/relaxing.jpg") no-repeat center fixed
  background-size: cover


h1
  font-size: 2.2em
  text-align: center
  font-family: 'Parisienne', cursive, sans-serif


// game selection area (game status)
#game-select
  display: grid
  grid-template-columns: 1fr
  justify-items: center
  grid-row-gap: 10px

  // input related
  input[type="text"]
    @extend %dataHandler
    line-height: 0

  // select related
  select
    @extend %dataHandler
    text-indent: 5px
    padding: .6em 1.4em .5em .8em
    width: 275px
    height: 45px

    option
      color: $mainColor
      outline: none

//  results button
.results
  display: flex
  justify-content: center
  margin-top: 10px


//start game and next question buttons
.btn
  @extend %btnStyle

  &:hover
    background-color: $buttonHover

  &:active
    background-color: $buttonActive

  &:disabled
    background-color: $buttonDisabled
    color: black

    &:active
      background-color: $buttonDisabled

.first-btn
  margin-top: 25px

//  loading related
.spinner
  position: absolute
  top: calc(50% - #{$spinnerSize} / 2)
  left: calc(50% - #{$spinnerSize} / 2)
  width: $spinnerSize
  height: $spinnerSize
  animation: spinner 0.75s linear infinite

  span
    position: absolute
    width: 100%
    height: 100%
    border-radius: 50%


  .spinner-inner-1
    background: linear-gradient(to right, rgba($mainColor, 0) 0%, rgba($mainColor, 0) 50%, $mainColor 51%)


  .spinner-inner-2
    background: linear-gradient(to top, rgba($backgroundColor, 0) 0%, $backgroundColor 100%)


  .spinner-inner-3
    $offset: $spinnerSize * 0.1
    top: $offset
    left: $offset
    width: $spinnerSize - ($offset * 2)
    height: $spinnerSize - ($offset * 2)
    background: $backgroundColor


@keyframes spinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)


// quiz section related
#quiz-section
  @extend %organisedGrid

  #question-category
    text-align: center

  #question
    @extend %QuestionAndAnswers
    font-size: 20px
    font-weight: bold

  #answers-container
    @extend %organisedGrid
    grid-row-gap: 25px
    margin-top: 20px
    width: 100%

  .possible-answers
    @extend %QuestionAndAnswers
    border: none
    cursor: pointer
    font-size: 20px


// error section (in case the API does not return any questions)
#error-section
  @extend %organisedGrid
  grid-row-gap: 25px
  margin-top: 20px
  width: 100%

  #error
    @extend %QuestionAndAnswers
    font-size: 20px
    font-weight: bold


// quiz results section
table
  width: 98%
  margin: 20px 1% 1% 1%
  font-family: arial, sans-serif
  border-collapse: collapse

  th
    position: sticky
    top: -1px
    background-color: yellow
    border: 1px solid $mainColor
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4)
    text-align: center
    padding: 8px

  td
    border: 1px solid $mainColor
    text-align: center
    padding: 8px
    user-select: text

  tr
    &:nth-child(even)
      background-color: #e8e8e8

    &:nth-child(odd)
      background-color: #fff

    &:hover
      background-color: lightblue


// applicable for xs and sm screens
@media #{$extraSmallAndSmall}
  #quiz-section
    grid-row-gap: 0
